/*universal styling*/
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fffdd0;
}

header, footer {
    background-color: #4a3728;
}

header {
    height: 70px;
}

footer {
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    letter-spacing: 3px;
    color: #fffdd0;
}

/*header-specific styling*/

#logo {
    float: left;
    font-size: 350%;
    margin-left: 30px;
    border: 3px solid #4a3728;
    height: 64px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #fffdd0;
}

#menu a:hover {
    background-color: #fffdd0;
    color: #4a3728;
}

#menu .active {
    border-bottom: 2px solid #fffdd0;    
}

/*footer-specific styling*/

#footer-space {
    height: 70px;
}

#socials {
    font-size: 200%;
}

#socials li {
    float: left;
    list-style-type: none;
    margin: 20px;
}

#socials a {
    text-decoration: none;
    color: #fffdd0;
}

#sources-footer {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

#sources-footer a {
    text-decoration: none;
    color: #fffdd0;
}

#sources-footer a:hover {
    font-family: 'UnifrakturMaguntia', cursive;
    border-bottom: 2px solid #fffdd0;
}

/*video styling*/

#video iframe {
    position: relative;
    left: 30%;
    right: 30%;
    border: 3px solid #87b865;
}

/*timeline styling*/

#battle hr {
    border-bottom: 5px solid #87b865;
    margin-top: 10px;
    margin-bottom: 15px;
}

#battle h3, #battle p, #battle hr {
    margin-left: 30px;
    margin-right: 30px;
}

/*context styling*/

.context {
    margin-left: 30px;
    margin-right: 30px;
}

.context h3 {
    width: fit-content;
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 5px;
}

#prelude hr {
    border-bottom: 5px solid #87b865;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

#abbey {
    text-align: center;
}

#abbey img {
    margin: 0 auto;
}

#abbey hr {
    border-bottom: 5px solid #87b865;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
}